<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>PoseServerBaseURL</key>
	<string>https://runpose-backend-production.up.railway.app</string>
	<key>QuickPoseSDKKey</key>
	<string>01KPK05E121GEXBN9J38DZR1V6</string>
</dict>
</plist>
